*.sdf
libabf_grisk.so
libabf_te_rzrq.so
*.7z
connect.sdf
build/
.vscode/
.marscode/
vs2017/.vs/
vs2017/packages/
build/
Debug/
x64/
# bin/
VS2019/
gcc-4.8.5/
*.jam
*.o
bin_linux/*
bin_win/*
.idea/*
.cache/*
.clangd
.clang*

**/.svn/*
**/build/*
**/dist/*
*.spec
*.xlsx

**/build_new/*
**/build_cmake/*
**/build_ninja/*
**/build/*
**/Debug/*
**/Release/*
**/.vscode/*
**/.vs/*
*.pyc
**/build_make/*

libabf_te_rzrq.so
libabf_te_third.so 
json_api_tester
connect.sdf
customer_credit_debts_closed.xml
his_sub_credit_stk_lock.xml
gwapi-02Trunk-static-with-FPGAInterface.zip
customer_his_credit_debts.xml
connect.VC.db

libute_share_comm_lib.so

libboost_wave-vc140-mt-sgd-1_62.lib
libboost_wave-vc140-mt-gd-1_62.lib
libprotoc.a
libboost_log_setup-vc140-mt-sgd-1_62.lib
libboost_log_setup-vc140-mt-gd-1_62.lib
libboost_log-vc140-mt-sgd-1_62.lib
libboost_log-vc140-mt-gd-1_62.lib
libboost_log_setup-vc140-sgd-1_62.lib
libprotobuf.a
libboost_log-vc140-sgd-1_62.lib
libboost_test_exec_monitor-vc140-mt-sgd-1_62.lib
libboost_unit_test_framework-vc140-mt-sgd-1_62.lib
libboost_regex-vc140-mt-gd-1_62.lib
libboost_test_exec_monitor-vc140-mt-gd-1_62.lib
libboost_regex-vc140-mt-sgd-1_62.lib
libboost_unit_test_framework-vc140-mt-gd-1_62.lib
libboost_wave-vc140-mt-s-1_62.lib
libboost_wave-vc140-mt-1_62.lib


test/data/data_16/exchange_20250612074150/cash_auction_params.xml 
test/data/data_16/exchange_20250612074150/list_security.xml
test/data/data_16/md_snapshot.xml
test/data/data_16/exchange_20250612074150/etf_component_share.xml

*.log
*.tar.gz

**/libagw_external_msg_cash.so
**/libagwapi.so
**/gw_api_boost/lib/*
**/ute_test_data/wh_ute_data/*
**/tgw_simulator*/*.log
**/tgw_simulator*/*.ind
**/tgw_simulator*/tmp/log/*.txt
**/log_domain/*
**/fteinit.txt
**/core*
**/log/*
**/log_domain/**
# *.csv
**/libagw_external_msg.so

stat_*.csv
**/online_test/*

**/analyze_delay

**/target_cmake/*